{{/* 
  Related Content Partial
  
  This partial loads related content from data/related_content/[lang].yaml
  and displays it using the items/three_column_with_images.html partial.
  
  If no related content is defined for the current page, nothing is displayed.
*/}}

{{ $currentPage := . }}
{{ $section := $currentPage.Section }}
{{ $slug := $currentPage.File.ContentBaseName }}
{{ $lang := $currentPage.Language.Lang }}

{{ $relatedContentData := index site.Data.related_content $lang }}
{{ $sectionData := index $relatedContentData $section | default dict }}
{{ $pageRelatedContent := index $sectionData $slug | default slice }}

{{ if gt (len $pageRelatedContent) 0 }}
  {{ $relatedItems := slice }}
  {{ $allHaveImages := true }}
  
  {{ range $pageRelatedContent }}
    {{ $relatedPath := .file }}
    {{ $relatedPage := site.GetPage $relatedPath }}
    
    {{ if $relatedPage }}
      {{ $title := "" }}
      {{ if $relatedPage.Params.term }}
        {{ $title = $relatedPage.Params.term }}
      {{ else }}
        {{ $title = $relatedPage.Title }}
      {{ end }}
      
      {{ $description := "" }}
      {{ if $relatedPage.Params.shortDescription }}
        {{ $description = $relatedPage.Params.shortDescription }}
      {{ else }}
        {{ $description = $relatedPage.Params.description | default $relatedPage.Description | default "" }}
      {{ end }}
      
      {{ $imageAlt := print "Image for " $title }}
      {{ $image := $relatedPage.Params.image | default "" }}
      
      {{ if eq $image "" }}
        {{ $allHaveImages = false }}
      {{ end }}
      
      {{ $relatedItems = $relatedItems | append (dict 
        "image" $image
        "imageAlt" $imageAlt
        "date" ($relatedPage.Date.Format "2006-01-02")
        "dateDisplay" ($relatedPage.Date.Format "Jan 2, 2006")
        "category" (index $relatedPage.Params.tags 0 | default "")
        "categoryLink" (print "/tags/" (index $relatedPage.Params.tags 0 | urlize) | default "#")
        "title" $title
        "titleLink" $relatedPage.RelPermalink
        "description" $description
      ) }}
    {{ end }}
  {{ end }}
  
  {{ if gt (len $relatedItems) 0 }}
    {{ $modifiedItems := slice }}
    
    {{ if not $allHaveImages }}
      {{ range $relatedItems }}
        {{ $item := . }}
        {{ $item = merge $item (dict "image" "") }}
        {{ $modifiedItems = $modifiedItems | append $item }}
      {{ end }}
    {{ else }}
      {{ $modifiedItems = $relatedItems }}
    {{ end }}
    
    {{ partial "items/three_column_with_images.html" (dict 
      "bgColor" "bg-gray-50"
      "heading" "Related Content"
      "description" "Explore these related topics to expand your knowledge."
      "items" (first 3 $modifiedItems)
    ) }}
  {{ end }}
{{ end }}
