{{ $text := .text }}
{{ $position := .position | default "top" }}

<div class="group relative inline-flex sm:items-center sm:mr-2 md:items-start">
  {{ .content }}
  <span class="ml-2 inline-flex items-center justify-center">
    {{ partial "icons/information-circle" "h-4 w-4 text-gray-400 hover:text-gray-500 tooltip-trigger" }}
  </span>
  <div class="tooltip-content pointer-events-none absolute {{ if eq $position "top" }}bottom-full left-1/2 transform -translate-x-1/2 mb-2{{ else if eq $position "bottom" }}top-full left-1/2 transform -translate-x-1/2 mt-2{{ else if eq $position "left" }}right-full top-1/2 transform -translate-y-1/2 mr-2{{ else }}left-full top-1/2 transform -translate-y-1/2 ml-2{{ end }} z-10 w-64 rounded-md bg-gray-900 px-3 py-2 text-xs text-white font-normal opacity-0 shadow-lg transition-opacity group-hover:opacity-100">
    {{ $text }}
  </div>
</div>
