{{ define "main" }}

{{ $image := .Params.image }}

{{ partial "breadcrumbs_default.html" . }}

<!-- Main Content -->
<div class="bg-white px-6 py-3 lg:px-8 mx-auto max-w-7xl">
  <div
    class="mx-auto max-w-none prose prose-lg prose-primary prose-headings:font-semibold prose-a:no-underline prose-img:rounded-xl">
    {{ .Content | partial "utils/linkbuilding" (dict "content" .Content "page" .) | safeHTML }}
  </div>
</div>

<!-- FAQ Section if available -->
{{ if .Params.faq }}
{{ partial "sections/faq/side-by-side" (dict
"title" (i18n "faq_heading")
"description" (i18n "faq_description")
"items" .Params.faq
) }}
{{ end }}

{{ partial "cta.html" . }}

{{ partial "related_content.html" . }}

{{ end }}
