{{ define "main" }}

{{ $image := .Params.image }}
{{ if not $image }}
  {{ if .Params.youtubeVideoID }}
    {{ $image = printf "https://img.youtube.com/vi/%s/hqdefault.jpg" .Params.youtubeVideoID }}
  {{ end }}
{{ end }}


<!-- Breadcrumbs -->
{{ $breadcrumbItems := slice (dict "title" (i18n "home_title") "url" .Site.Home.RelPermalink) }}
{{ $path := "" }}
{{ $parts := split (strings.TrimPrefix "/" .RelPermalink) "/" }}
{{ range $index, $part := first (sub (len $parts) 1) $parts }}
  {{ $path = printf "%s/%s" $path $part }}
  {{ with $.Site.GetPage $path }}
    {{ $breadcrumbItems = $breadcrumbItems | append (dict "title" .Title "url" .RelPermalink) }}
  {{ end }}
{{ end }}
{{ partial "components/breadcrumbs/basic" (dict "items" $breadcrumbItems) }}

<!-- Hero Section with Split Image -->
{{ $shortDescription := .Params.shortDescription | default .Params.description | default "" }}
{{ if .Params.youtubeVideoID }}
  {{ partial "sections/hero/split_with_youtube_video.html" (dict 
  "heading" .Params.title
  "description" (markdownify $shortDescription)
  "eyebrow" .Params.eyebrow
  "image" $image
  "videoTitle" (.Params.youtubeTitle | default .Params.title)
  "videoID" .Params.youtubeVideoID
  ) }}
{{ else if and .Params.workspaceId .Params.chatbotId }}
  {{ partial "sections/hero/split_with_chatbot.html" (dict 
  "heading" .Params.title
  "description" (markdownify $shortDescription)
  "eyebrow" .Params.eyebrow
  "chatbotId" .Params.chatbotId
  "workspaceId" .Params.workspaceId
  "cta" (dict 
          "primary" (dict "text" .Params.ctaPrimaryText "url" .Params.ctaPrimaryURL) 
          "secondary" (dict "text" .Params.ctaSecondaryText "url" .Params.ctaSecondaryURL)
      )
  ) }}
{{ else if $image }}
  {{ partial "sections/hero/split_with_image.html" (dict 
    "heading" .Params.title
    "description" (markdownify $shortDescription)
    "eyebrow"  (.Params.eyebrow | default (i18n "eyebrow") | default "")
    "image" $image
  ) }}
{{ else }}
  {{ partial "layout/headers/centered_with_eyebrow.html" (dict 
    "heading" .Params.title
    "description" (markdownify $shortDescription)
    "eyebrow"  (.Params.eyebrow | default (i18n "eyebrow") | default "")
  ) }}
{{ end }}

<!-- Main Content -->
<div class="bg-white mt-16 mb-16 p-8 mx-auto max-w-8xl">
  <div
    class="mx-auto max-w-none prose prose-lg prose-a:no-underline hover:prose-a:underline prose-img:rounded-xl">
    {{ .Content | partial "utils/linkbuilding" (dict "content" .Content "page" .) | safeHTML }}
  </div>
</div>

<!-- FAQ Section if available -->
{{ if .Params.faq }}
{{ partial "sections/faq/side-by-side" (dict
"title" (i18n "faq_heading")
"description" (i18n "faq_description")
"items" .Params.faq
) }}
{{ end }}

<!-- Author Section -->
{{ if .Params.author }}
{{ $authors := site.Data.authors }}
{{ $authorKey := .Params.author }}
{{ if and $authors $authorKey (index $authors $authorKey) }}
{{ $author := index $authors $authorKey }}
  {{ partial "sections/testimonials/with_large_avatar.html" (dict 
    "personName" $author.name
    "personRole" $author.role
    "personImage" $author.image
    "personImageAlt" $author.name
    "quote" $author.description
    ) }}
  {{ partial "schemaorg/author.html" . }}
{{ end }}
{{ end }}


<!-- CTA Section -->
{{ $ctaHeading := .Params.ctaHeading | default (i18n "cta_default_heading") }}
{{ $ctaDescription := .Params.ctaDescription | default (i18n "cta_default_description") }}
{{ $ctaPrimaryText := .Params.ctaPrimaryText | default (i18n "cta_default_primary_text") }}
{{ $ctaPrimaryURL := .Params.ctaPrimaryURL | default (i18n "cta_default_primary_url") }}
{{ $ctaSecondaryText := .Params.ctaSecondaryText | default (i18n "cta_default_secondary_text") }}
{{ $ctaSecondaryURL := .Params.ctaSecondaryURL | default (i18n "cta_default_secondary_url") }}
{{ $showCTA := .Params.showCTA | default $ctaHeading }}

{{ if $showCTA }}
{{ partial "sections/cta/simple_centered_on_dark.html" (dict
"heading" $ctaHeading
"description" $ctaDescription
"primaryCta" (dict
"text" $ctaPrimaryText
"url" $ctaPrimaryURL
)
"secondaryCta" (dict
"text" $ctaSecondaryText
"url" $ctaSecondaryURL
)
) }}
{{ end }}

{{ partial "utils/related_content.html" . }}

{{ end }}