{{ define "main" }}
  <!-- Breadcrumbs -->
  {{ $breadcrumbItems := slice (dict "title" "Home" "url" .Site.Home.RelPermalink) }}
  
  {{ if ne .Section "" }}
    {{ with .Site.GetPage .Section }}
      {{ $breadcrumbItems = $breadcrumbItems | append (dict "title" .Title "url" .RelPermalink) }}
    {{ end }}
  {{ end }}
  
  {{ $breadcrumbItems = $breadcrumbItems | append (dict "title" .Title "url" .RelPermalink) }}
  
  {{ partial "breadcrumbs/basic" (dict "items" $breadcrumbItems) }}

  <!-- Hero Section split with image-->
  {{ partial "hero/split_with_image.html" (dict 
    "heading" .Title
    "description" .Description
    "image" .Params.image
    "tags" .Params.tags
    "categories" .Params.categories
    "eyebrow" "Category"
  ) }}
  
  <!-- Main Content -->
<!-- Main Content -->
<div class="bg-white px-6 py-32 lg:px-8 mx-auto max-w-7xl">
  <div class="mx-auto prose prose-lg prose-indigo prose-headings:font-semibold prose-a:text-indigo-600 prose-a:no-underline hover:prose-a:underline prose-img:rounded-xl">
    {{ .Content | partial "utils/linkbuilding" (dict "content" .Content "page" .) | safeHTML }}
  </div>
</div>

  <!-- FAQ Section if available -->
  {{ if .Params.faq }}
  {{ partial "faqs/side-by-side" (dict 
    "title" "Frequently Asked Questions"
    "description" "Find answers to common questions about this topic."
    "items" .Params.faq
  ) }}
  {{ end }}

  <!-- Related Content -->
  <div class="bg-white py-16">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      {{ partial "utils/related_content.html" . }}
    </div>
  </div>
{{ end }}
