{{/* Process main.css with PostCSS (Tailwind) */}}
{{- $css := resources.Get "css/main.css" -}}
{{- $opts := dict "inlineImports" true -}}

{{/* Process with PostCSS */}}
{{- $postcss := $css | css.PostCSS $opts -}}

{{/* In production, minify and add integrity hash */}}
{{- $styles := $postcss | minify | fingerprint "sha512" -}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous">

{{/* Include other CSS files that don't need PostCSS processing */}}
{{- with resources.Get "css/lazy-images.css" }}
  {{- with . | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{- end }}
{{- end }}

{{- with resources.Get "css/lazy-videos.css" }}
  {{- with . | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{- end }}
{{- end }}
