<meta name="referrer" content="no-referrer">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
{{ if .Params.private }}
<meta name="robots" content="noindex, nofollow">
{{ end }}

<!-- Preconnect to important domains -->
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ with .Permalink }}<link rel="canonical" href="{{ . }}">{{ end }}
{{ range .Site.Home.AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Params.bcp47Lang | default .Language.Lang }}" href="{{ .Permalink }}">
{{ end }}
<link rel="alternate" hreflang="x-default" href="{{ (index .Site.Home.AllTranslations 0).Permalink }}">
{{ partial "social-meta.html" . | safeHTML }}
{{ partialCached "head/variables.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
