{{/* 
  Related Content Partial
  
  This partial loads related content from data/related_content/[lang].yaml
  and displays it using the items/three_column_with_images.html partial.
  
  If no related content is defined for the current page, nothing is displayed.
*/}}

{{ $currentPage := . }}
{{ $section := $currentPage.Section }}
{{ $slug := $currentPage.File.ContentBaseName }}
{{ $lang := $currentPage.Language.Lang }}

{{ $relatedContentData := index site.Data.related_content $lang }}
{{ $sectionData := index $relatedContentData $section | default dict }}
{{ $pageRelatedContent := index $sectionData $slug | default dict }}
{{ $relatedFiles := index $pageRelatedContent "related_content" | default slice }}

{{ if gt (len $relatedFiles) 0 }}
  {{ $relatedItems := slice }}
  
  {{ range $relatedFiles }}
    {{ $relatedPath := .file }}
    {{ $relatedPage := site.GetPage $relatedPath }}
    
    {{ if $relatedPage }}
      {{ $relatedItems = $relatedItems | append (dict 
        "image" ($relatedPage.Params.image | default "")
        "imageAlt" (print "Image for " $relatedPage.Params.term)
        "date" ($relatedPage.Date.Format "2006-01-02")
        "dateDisplay" ($relatedPage.Date.Format "Jan 2, 2006")
        "category" (index $relatedPage.Params.tags 0 | default "")
        "categoryLink" (print "/tags/" (index $relatedPage.Params.tags 0 | urlize) | default "#")
        "title" $relatedPage.Params.term
        "titleLink" $relatedPage.RelPermalink
        "description" $relatedPage.Params.shortDescription
      ) }}
    {{ end }}
  {{ end }}
  
  {{ if gt (len $relatedItems) 0 }}
    {{ partial "items/three_column_with_images.html" (dict 
      "bgColor" "bg-gray-50"
      "heading" "Related Content"
      "description" "Explore these related topics to expand your knowledge."
      "items" (first 3 $relatedItems)
    ) }}
  {{ end }}
{{ end }}
