{{/* Two Row Bento Grid Shortcode */}}
{{ $tagline := (.Get 0) | default "Deploy faster" }}
{{ $heading := (.Get 1) | default "Everything you need to deploy your app" }}
{{ $backgroundColor := (.Get 2) | default "white" }}
{{ $taglineColor := (.Get 3) | default "indigo-600" }}

{{/* 
  Note: For this shortcode, we're using the default cards from the partial.
  In a real-world implementation, you might want to allow passing in custom cards
  through a structured data file.
*/}}

{{ partial "bentogrids/two_row_bento_grid.html" (dict 
  "tagline" $tagline
  "heading" $heading
  "backgroundColor" $backgroundColor
  "taglineColor" $taglineColor
) }}
