{{/* Simple Logos Shortcode */}}
{{ $bgColor := (.Get 0) | default "bg-white" }}
{{ $padding := (.Get 1) | default "py-24 sm:py-32" }}
{{ $logoColor := (.Get 2) | default "gray-900" }}

{{/* 
  Note: For this shortcode, we're using the default logos from the partial.
  In a real-world implementation, you might want to allow passing in custom logos
  through a structured data file.
*/}}

{{ partial "logos/simple.html" (dict 
  "bgColor" $bgColor
  "padding" $padding
  "logoColor" $logoColor
) }}
