{{- /*
  Usage in markdown:
  {{< button-primary 
    text="Get Started"
    url="/signup"
    i18n="getStarted"
    class="mt-4"
    target="_blank"
    rel="noopener"
    id="signup-button"
  >}}
*/ -}}

{{ $text := .Get "text" }}
{{ $i18nKey := .Get "i18n" }}
{{ $url := .Get "url" }}
{{ $variant := .Get "variant" | default "" }}
{{ $classes := .Get "class" | default "" }}
{{ $target := .Get "target" | default "_self" }}
{{ $rel := .Get "rel" | default "" }}
{{ $id := .Get "id" | default "" }}

{{ if not $i18nKey }}
  {{ if $text }}
    {{ $i18nKey = $text | lower | urlize }}
  {{ end }}
{{ end }}

{{ partial "components/buttons/primary.html" (dict 
    "i18nKey" $i18nKey
    "text" $text
    "url" $url
    "classes" $classes
    "target" $target
    "rel" $rel
    "id" $id
) }}
