{{- /*
  Usage in markdown:
  {{< button-text 
    text="View All Articles"
    url="/blog"
    i18n="viewAllArticles"
    icon="arrow-right"           <!-- optional: icon name -->
    icon-position="right"        <!-- "left" or "right" -->
    arrow=true                   <!-- show arrow at the end -->
    class="mt-4"
    target="_blank"
    rel="noopener"
    id="blog-button"
  >}}
*/ -}}

{{ $text := .Get "text" }}
{{ $i18nKey := .Get "i18n" }}
{{ $url := .Get "url" }}
{{ $icon := .Get "icon" | default "" }}
{{ $iconPosition := .Get "icon-position" | default "right" }}
{{ $showArrow := .Get "arrow" | default false }}
{{ $classes := .Get "class" | default "" }}
{{ $target := .Get "target" | default "_self" }}
{{ $rel := .Get "rel" | default "" }}
{{ $id := .Get "id" | default "" }}

{{ if not $i18nKey }}
  {{ if $text }}
    {{ $i18nKey = $text | lower | urlize }}
  {{ end }}
{{ end }}

{{ partial "components/buttons/text.html" (dict 
    "i18nKey" $i18nKey
    "text" $text
    "url" $url
    "icon" $icon
    "iconPosition" $iconPosition
    "showArrow" $showArrow
    "classes" $classes
    "target" $target
    "rel" $rel
    "id" $id
) }}
