{{/* Simple Centered Hero Shortcode */}}
{{ $heading := (.Get 0) | default "Data to enrich your online business" }}
{{ $description := (.Get 1) | default "Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat." }}
{{ $primaryCTAText := (.Get 2) | default "Get started" }}
{{ $primaryCTAUrl := (.Get 3) | default "#" }}
{{ $secondaryCTAText := (.Get 4) | default "Learn more" }}
{{ $secondaryCTAUrl := (.Get 5) | default "#" }}
{{ $announcementEnabled := (.Get 6) | default "true" }}
{{ $announcementText := (.Get 7) | default "Announcing our next round of funding." }}
{{ $announcementLinkText := (.Get 8) | default "Read more" }}
{{ $announcementLinkUrl := (.Get 9) | default "#" }}

{{ $announcement := dict 
  "enabled" (eq $announcementEnabled "true")
  "text" $announcementText
  "linkText" $announcementLinkText
  "linkUrl" $announcementLinkUrl
}}

{{ $cta := dict 
  "primary" (dict "text" $primaryCTAText "url" $primaryCTAUrl)
  "secondary" (dict "text" $secondaryCTAText "url" $secondaryCTAUrl)
}}

{{ partial "hero/simple_centered.html" (dict 
  "announcement" $announcement
  "heading" $heading
  "description" $description
  "cta" $cta
) }}
