{{- /*
  Usage:
  {{< hero-simple-centered 
    heading="..." 
    description="..." 
    primaryCTAText="..." 
    primaryCTAUrl="..." 
    secondaryCTAText="..." 
    secondaryCTAUrl="..." 
    announcementEnabled="true" 
    announcementText="..." 
    announcementLinkText="..." 
    announcementLinkUrl="..." 
    imageEnabled="true"
    imageSrc="..." 
    imageAlt="..." 
    imageWidth="..." 
    imageHeight="..." 
    theme="dark" 
  >}}
*/ -}}

{{ $heading := .Get "heading" | default "" }}
{{ $description := .Get "description" | default "" }}
{{ $primaryCTAText := .Get "primaryCTAText" | default "" }}
{{ $primaryCTAUrl := .Get "primaryCTAUrl" | default "#" }}
{{ $secondaryCTAText := .Get "secondaryCTAText" | default "" }}
{{ $secondaryCTAUrl := .Get "secondaryCTAUrl" | default "#" }}
{{ $announcementEnabled := (.Get "announcementEnabled") | default "true" | lower }}
{{ $announcementText := .Get "announcementText" | default "" }}
{{ $announcementLinkText := .Get "announcementLinkText" | default "" }}
{{ $announcementLinkUrl := .Get "announcementLinkUrl" | default "#" }}
{{ $imageEnabled := (.Get "imageEnabled") | default "true" | lower }}
{{ $imageSrc := .Get "imageSrc" | default "" }}
{{ $imageAlt := .Get "imageAlt" | default "" }}
{{ $imageWidth := .Get "imageWidth" | default "" }}
{{ $imageHeight := .Get "imageHeight" | default "" }}
{{ $theme := .Get "theme" | default "light" }}

{{ $announcement := dict }}
{{ if and (eq $announcementEnabled "true") $announcementText }}
  {{ $announcement = dict 
    "text" $announcementText
    "linkText" $announcementLinkText
    "linkUrl" $announcementLinkUrl
  }}
{{ end }}

{{ $cta := dict 
  "primary" (dict "text" $primaryCTAText "url" $primaryCTAUrl)
  "secondary" (dict "text" $secondaryCTAText "url" $secondaryCTAUrl)
}}

{{ $image := dict }}
{{ if and (eq $imageEnabled "true") $imageSrc }}
  {{ $image = dict 
    "src" $imageSrc
    "alt" $imageAlt
    "width" $imageWidth
    "height" $imageHeight
  }}
{{ end }}

{{ partial "sections/hero/simple_centered.html" (dict 
  "announcement" $announcement
  "heading" $heading
  "description" $description
  "cta" $cta
  "image" $image
  "theme" $theme
) }}