{{/* 
Example usage of Split Hero with Image Shortcode:
{{< hero-split-with-image 
  "heading"="Empower Your Business" 
  "description"="Discover tools and insights to drive growth and success." 
  "imageUrl"="https://example.com/hero-image.jpg" 
  "imageAlt"="An inspiring hero image" 
  "primaryCTAText"="Start Now" 
  "primaryCTAUrl"="/get-started" 
  "secondaryCTAText"="Learn More" 
  "secondaryCTAUrl"="/learn-more" 
  "logo"="https://example.com/logo.svg" 
  "announcementEnabled"="true" 
  "announcementText"="Special announcement for our users." 
  "announcementLinkText"="Find out more" 
  "announcementLinkUrl"="/announcement-link" 
>}}
*/}}

{{/* Split Hero with Image Shortcode */}}
{{ $heading := .Get "heading" | default "Data to enrich your business" }}
{{ $description := .Get "description" | default "Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat." }}
{{ $imageUrl := .Get "imageUrl" | default "https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2102&q=80" }}
{{ $imageAlt := .Get "imageAlt" | default "Hero image" }}
{{ $primaryCTAText := .Get "primaryCTAText" | default "Get started" }}
{{ $primaryCTAUrl := .Get "primaryCTAUrl" | default "#" }}
{{ $secondaryCTAText := .Get "secondaryCTAText" | default "Learn more" }}
{{ $secondaryCTAUrl := .Get "secondaryCTAUrl" | default "#" }}
{{ $logo := .Get "logo" | default "https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" }}
{{ $announcementEnabled := .Get "announcementEnabled" | default "true" }}
{{ $announcementText := .Get "announcementText" | default "Anim aute id magna aliqua ad ad non deserunt sunt." }}
{{ $announcementLinkText := .Get "announcementLinkText" | default "Read more" }}
{{ $announcementLinkUrl := .Get "announcementLinkUrl" | default "#" }}

{{ $announcement := dict 
  "enabled" (eq $announcementEnabled "true")
  "text" $announcementText
  "linkText" $announcementLinkText
  "linkUrl" $announcementLinkUrl
}}

{{ $cta := dict 
  "primary" (dict "text" $primaryCTAText "url" $primaryCTAUrl)
  "secondary" (dict "text" $secondaryCTAText "url" $secondaryCTAUrl)
}}

{{ $image := dict
  "url" $imageUrl
  "alt" $imageAlt
}}

{{ partial "sections/hero/split_with_image.html" (dict 
  "logo" $logo
  "announcement" $announcement
  "heading" $heading
  "description" $description
  "cta" $cta
  "image" $image
) }}
