{{/* Lazy Loading Image Shortcode */}}
{{/*
Usage:
{{< lazyimg 
  src="/images/product-image.jpg"
  alt="Product image description"
  class="rounded-lg shadow-md"
  id="product-image"
  width="640"
  height="480"
  sizes="(min-width: 1024px) 1024px, (min-width: 300px) 300px, 150px"
  dataImage="/images/product-image-full.jpg"
  isGallery="false"
>}}
*/}}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $class := .Get "class" | default "" }}
{{ $id := .Get "id" | default "" }}
{{ $width := .Get "width" | default "" }}
{{ $height := .Get "height" | default "" }}
{{ $sizes := .Get "sizes" | default "(min-width: 1024px) 1024px, (min-width: 300px) 300px, 150px" }}
{{ $dataImage := .Get "dataImage" | default $src }}
{{ $isGallery := .Get "isGallery" | default false }}

{{ partial "lazyimg.html" (dict 
  "src" $src 
  "alt" $alt 
  "class" $class
  "id" $id
  "width" $width
  "height" $height
  "sizes" $sizes
  "dataImage" $dataImage
  "isGallery" $isGallery
) }}
